
.company_picture{
    padding: 80px 0;
}


.earth {
    position: relative;
    width: 400px;   
    height: 400px;
    background: #0588e4 url(assets/earth3.jpg);
    background-size: cover;
    border-radius: 50%;
    box-shadow: 4px 0px 40px rgba(110, 88, 161, 0.699);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    animation: animate 24s linear infinite;
    @media (max-width:600px) {
        width: 300px;
        height: 300px;
    }
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(../assets/cloud.png);
        background-size: cover;
        border-radius: 50%;
        overflow: hidden;
        z-index: 1;
        animation: animate 8s linear infinite;

    }


    img {
        transform: rotate(-90deg);        
        position: absolute;
        width: 150px;
        right: 10%;
        z-index: 1;
        transition: .5s;
        pointer-events: none;
        @media (max-width:600px){
            width: 100px;
        }
    }
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 719px 0;
    }
}